@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
}
/* #hero {
    background: rgba(0, 0, 0, 0.5) url('./images/cover/cover-1.png') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
} */